body {
  margin: 0;
  font-family: Arial;
  background: url("bg.jpg") no-repeat center center/cover;
  color: white;
}

/* logo top */
.top {
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo {
  width: 90px;
  position: relative;
  animation: float 3s ease-in-out infinite;
  filter: drop-shadow(0 0 10px rgba(0,0,0,0.6));
}
.logo:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
  filter: drop-shadow(0 0 20px rgba(0, 200, 255, 0.8));
}
/* Floating animation */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* center content */
.center {
  text-align: center;
  margin-top: 18%;
}

h1 {
  font-size: 60px;
  margin: 0;
}

.ip {
  background: rgba(0,0,0,0.6);
  padding: 15px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  background: #5865F2;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}
.store-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 28px;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 12px;
  border-radius: 12px;
  text-decoration: none;
  color: white;
  z-index: 999;
  transition: 0.3s ease;
}

.store-icon:hover {
  transform: scale(1.2);
  background: rgba(0, 195, 255, 0.8);
}
